# Data exploration 

---

Group name: D

---

## Introduction

*This dataset contains nearly 3 million russian troll tweets that have been sent between February 2012 and May 2018.*

## Setup

In [39]:
import pandas as pd
import altair as alt

alt.data_transformers.disable_max_rows()

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Data

## Import data

In [40]:
DATA01 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_1.csv"
#DATA02 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_2.csv"
#DATA03 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_3.csv"
#DATA04 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_4.csv"
#DATA05 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_5.csv"
#DATA06 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_6.csv"
#DATA07 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_7.csv"
#DATA08 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_8.csv"
#DATA09 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_9.csv"
#DATA10 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_10.csv"
#DATA11 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_11.csv"
#DATA12 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_12.csv"
#DATA13 = "https://raw.githubusercontent.com/fivethirtyeight/russian-troll-tweets/master/IRAhandle_tweets_13.csv"

df = pd.read_csv(DATA01)
#df02 = pd.read_csv(DATA02)
#df03 = pd.read_csv(DATA03)
#df04 = pd.read_csv(DATA04)

### Data structure

In [41]:
df

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,...,account_type,retweet,account_category,new_june_2018,alt_external_id,tweet_id,article_url,tco1_step1,tco2_step1,tco3_step1
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,...,Right,0,RightTroll,0,905874659358453760,914580356430536707,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914580356430...,NaN,NaN
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,...,Right,0,RightTroll,0,905874659358453760,914621840496189440,http://twitter.com/905874659358453760/statuses...,https://twitter.com/damienwoody/status/9145685...,NaN,NaN
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,...,Right,1,RightTroll,0,905874659358453760,914623490375979008,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/913231923715...,NaN,NaN
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,...,Right,0,RightTroll,0,905874659358453760,914639143690555392,http://twitter.com/905874659358453760/statuses...,https://twitter.com/10_gop/status/914639143690...,NaN,NaN
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,...,Right,1,RightTroll,0,905874659358453760,914312219952861184,http://twitter.com/905874659358453760/statuses...,https://twitter.com/realDonaldTrump/status/914...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243886,2497991305,AUSTINLOVESBEER,BREAKING: Killer avalanche sweeps three skiers...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,173,...,Right,1,RightTroll,0,2497991305,839400198002503680,http://twitter.com/2497991305/statuses/8394001...,https://twitter.com/Daily_Star/status/83938477...,http://bit.ly/2lWNDnt,NaN
243887,2497991305,AUSTINLOVESBEER,Why men should support International Women’s D...,United States,English,3/8/2017 8:59,3/8/2017 9:00,41,34,175,...,Right,1,RightTroll,0,2497991305,839400290168135680,http://twitter.com/2497991305/statuses/8394002...,http://trib.al/xiMs3md,NaN,NaN
243888,2497991305,AUSTINLOVESBEER,How we can rebuild trust in a UK divided by in...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,170,...,Right,1,RightTroll,0,2497991305,839400090582179840,http://twitter.com/2497991305/statuses/8394000...,http://trib.al/l3iyCVF,NaN,NaN
243889,2497991305,AUSTINLOVESBEER,John Humphrys accused of patronising Angela Ra...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,171,...,Right,1,RightTroll,0,2497991305,839400131325648896,http://twitter.com/2497991305/statuses/8394001...,http://bit.ly/2m0OQL7,NaN,NaN
243890,2497991305,AUSTINLOVESBEER,Fossilized poop found in 180-million-year-old ...,United States,English,3/8/2017 8:59,3/8/2017 8:59,41,34,174,...,Right,1,RightTroll,0,2497991305,839400253413437440,http://twitter.com/2497991305/statuses/8394002...,http://dailym.ai/2lV5BXf,NaN,NaN

### Data corrections

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243891 entries, 0 to 243890
Data columns (total 21 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  243891 non-null  int64
 1   author              243891 non-null  object
 2   content             243891 non-null  object
 3   region              243853 non-null  object
 4   language            243891 non-null  object
 5   publish_date        243891 non-null  object
 6   harvested_date      243891 non-null  object
 7   following           243891 non-null  int64
 8   followers           243891 non-null  int64
 9   updates             243891 non-null  int64
 10  post_type           154592 non-null  object
 11  account_type        243891 non-null  object
 12  retweet             243891 non-null  int64
 13  account_category    243891 non-null  object
 14  new_june_2018       243891 non-null  int64
 15  alt_external_id     243891 non-null  int64
 16  tweet_id            243891 non-null  int64
 17  article_url         243891 non-null  object
 18  tco1_step1          180520 non-null  object
 19  tco2_step1          66432 non-null   object
 20  tco3_step1          2803 non-null    object
dtypes: int64(8), object(13)
memory usage: 39.1+ MB

In [43]:
df2 = df.drop(df.columns[[6, 11, 13, 14, 15, 16, 17, 18, 19, 20]],axis = 1)

In [47]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243891 entries, 0 to 243890
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  243891 non-null  int64
 1   author              243891 non-null  object
 2   content             243891 non-null  object
 3   region              243853 non-null  object
 4   language            243891 non-null  object
 5   publish_date        243891 non-null  object
 6   following           243891 non-null  int64
 7   followers           243891 non-null  int64
 8   updates             243891 non-null  int64
 9   post_type           154592 non-null  object
 10  retweet             243891 non-null  int64
dtypes: int64(5), object(6)
memory usage: 20.5+ MB

Converting publish_date to datetime format

In [51]:
df2['publish_date']= pd.to_datetime(df2['publish_date'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243891 entries, 0 to 243890
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   external_author_id  243891 non-null  int64
 1   author              243891 non-null  object
 2   content             243891 non-null  object
 3   region              243853 non-null  object
 4   language            243891 non-null  object
 5   publish_date        243891 non-null  datetime64[ns]
 6   following           243891 non-null  int64
 7   followers           243891 non-null  int64
 8   updates             243891 non-null  int64
 9   post_type           154592 non-null  object
 10  retweet             243891 non-null  int64
dtypes: datetime64[ns](1), int64(5), object(5)
memory usage: 20.5+ MB

In [52]:
df2

,external_author_id,author,content,region,language,publish_date,following,followers,updates,post_type,retweet
0,906000000000000000,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,2017-10-01 19:58:00,1052,9636,253,NaN,0
1,906000000000000000,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,2017-10-01 22:43:00,1054,9637,254,NaN,0
2,906000000000000000,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,2017-10-01 22:50:00,1054,9637,255,RETWEET,1
3,906000000000000000,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,2017-10-01 23:52:00,1062,9642,256,NaN,0
4,906000000000000000,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,2017-10-01 02:13:00,1050,9645,246,RETWEET,1
...,...,...,...,...,...,...,...,...,...,...,...
243886,2497991305,AUSTINLOVESBEER,BREAKING: Killer avalanche sweeps three skiers...,United States,English,2017-03-08 08:59:00,41,34,173,RETWEET,1
243887,2497991305,AUSTINLOVESBEER,Why men should support International Women’s D...,United States,English,2017-03-08 08:59:00,41,34,175,RETWEET,1
243888,2497991305,AUSTINLOVESBEER,How we can rebuild trust in a UK divided by in...,United States,English,2017-03-08 08:59:00,41,34,170,RETWEET,1
243889,2497991305,AUSTINLOVESBEER,John Humphrys accused of patronising Angela Ra...,United States,English,2017-03-08 08:59:00,41,34,171,RETWEET,1
243890,2497991305,AUSTINLOVESBEER,Fossilized poop found in 180-million-year-old ...,United States,English,2017-03-08 08:59:00,41,34,174,RETWEET,1

## Exploratory data analysis